[Desktop Entry]
Name=XawTV
Comment=TV Tuner Program
Comment[pl]=Program obsługujący tuner TV
Exec=xawtv
Icon=xawtv.xpm
MiniIcon=xawtv-mini.xpm
Terminal=0
Type=Application
# vi: encoding=utf-8
