[Desktop Entry]
Name=XawTV
Comment=TV Tuner Program
Comment[pl]=Program obsługujący tuner TV
Exec=xawtv
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo;TV;Tuner;
# vi: encoding=utf-8
